DOMAIN_NAME=login.42.fr
VOLUME_PATH=/home/login/data

#Mariadb database variables
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress_user

#Wordpress database variables
#do not use admin in user
WP_ADMIN_USER=login
WP_ADMIN_EMAIL=login@student.42.fr
WP_USER=eval
WP_USER_EMAIL=eval@42.fr